<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qugengting.goodfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.qugengting.goodfood.DetailActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".ImageTitleActivity" />
        <activity android:name=".FavorActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name="com.common.gif.GifActivity" />
        <activity android:name="com.common.library.image.ImageChooserActivity" />
        <activity android:name="com.common.library.image.ImageGridActivity" />
        <activity android:name="com.common.library.image.LargeImageViewActivity" />
        <activity android:name="com.common.library.webview.BaseWebActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <meta-data
            android:name="com.common.library.glide.MyGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>